<!DOCTYPE html>

<html>
<head>
    <title>aux error {{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/style.css" rel="stylesheet" type="text/css"
          media="all">
    <link href="/static/notify.css" rel="stylesheet" type="text/css"
          media="all">
</head>

<body class="full-height">
    <div class="hpanels full-height">
        <div class="hpanels full-height full-width">
            <div class="box-full"></div>
            <div class="vpanels full-height center-text">
                <div class="box-full"></div>
                <div class="error">
                    <img alt="warning" src="/static/hazard.svg"><br/>
                    {{msg}}
                </div>
                <div class="box-full"></div>
            </div>
            <div class="box-full"></div>
        </div>
    </div>
</body>
</html>
