<!DOCTYPE html>

<html class="full-height">
<head>
    <title>aux login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/style.css" rel="stylesheet" type="text/css"
          media="all">
    <link href="/static/notify.css" rel="stylesheet" type="text/css"
          media="all">
</head>

<body class="full-height">
    <div class="hpanels full-height">
        <div class="box-full"></div>
        <div class="vpanels full-height center-text">
            <div class="box-full"></div>
            <div class="notify">
                <form action="{{curUrl}}" method="POST">
                    <input type="password" name="passDn"
                           placeholder="password" />
                    <input type='submit' value="log in" />
                </form>
            </div>
            {{#errPass}}
            <div class="error">
                wrong password
            </div>
            {{/errPass}}
            <div class="box-full"></div>
        </div>
        <div class="box-full"></div>
    </div>
    <script src="/static/lib.js"></script>
</body>
</html>
